<!DOCTYPE HTML >
 
<html>


<head>
    <meta charset="UTF-8">
    <title>Hello World Template</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'polls/mystyle.css' %} rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>


<body class='b1'>
<h1 class='c1'>
TIRE INFORMATION MANAGEMENT SYSTEM
<h1/>






<div>
<table class='c5'>

<tr>
<td class='c4'> <a href="total_filled1" class='c3'> Total Filled </a></td>
<td class='c4'> <a href="testing1" class='c3' > To Be Approved</a></td>
<td class='c4'><a href="data_interface1" class='c3' >Data Filling Interface</a></td>
<td class='c4'><a href="testing_data1" class='c3' >Testing Data</a></td>
</tr>
`
<tr>
<td class='c4'><a href="home" class='c3' >Design Document Generation</a></td>
<td class='c4'><a href="home" class='c3' >Layout Comparision</a></td>
<td class='c4'><a href="home" class='c3' >Cavity Comparision</a></td>
<td class='c4'><a href="home" class='c3' >Pattern Comparison</a></td>
</tr>



</table>
</div>
</body>

</html>