<!DOCTYPE HTML >
 
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}">  
<title>Hello World Template</title>
</head>
<body class='b1'>
<h1 class='c1'>
TIRE INFORMATION MANAGEMENT SYSTEM
<h1/>






<div>
<table class='c5'>

<tr>
<td class='c3'>Total Filled</td>
<td class='c3'>To Be Approved</td>
<td class='c3'>Data Filling Interface</td>
<td class='c3'>Design Calculationse</td>
</tr>

<tr>
<td class='c3'>Design Document Generation</td>
<td class='c3'>Layout Comparision</td>
<td class='c3'>Cavity Comparision</td>
<td class='c3'>Pattern Comparison</td>
</tr>

</table>
</div>
</body>

</html>